<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:context="http://www.springframework.org/schema/context"
           xmlns:p="http://www.springframework.org/schema/p"
           xmlns:mvc="http://www.springframework.org/schema/mvc"
           xmlns:util="http://www.springframework.org/schema/util"
           xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-2.0.xsd">


    <bean id="user" class="com.songsy.iframe.model.User">
        <property name="username" value="shop"/>
    </bean>

    <util:list id="userlist" list-class="java.util.LinkedList">
        <value>user1</value>
        <value>user2</value>
        <value>user3</value>
    </util:list>

    <util:list id="userlist1" list-class="java.util.LinkedList">
        <value>user1</value>
        <value>user2</value>
        <value>user3</value>
    </util:list>

</beans>